<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName {{ domain }}.dev
    ServerAlais www.{{ domain }}.dev
    DocumentRoot {{ drupal_core_path }}
    <Directory "{{ drupal_core_path }}">
        Options FOllowSymLinks Indexes
        AllowOverride All 
    </Directory>
</VirtualHost>